*,
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.btn {
  border: 1px #415ef3 solid;
  padding: 10px 15px;
  border-radius: 20px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.btn:hover {
  background-color: #415ef3;
  color: white;
}

.header {
  color: #333;
  padding-right: 20px;
  padding-left: 24px;
  width: 100vw;
  min-height: 100vh;
  background-image: url("http://detheme.com/templates/kergan/images/bg-hero-kergan.jpg");
}
.header .header-nav {
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  margin: 1em 2em;
  padding: 1em;
}
.header .logo img {
  width: 160px;
  height: 32px;
}
.header .header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-nav-list .header-nav-item {
  padding: 16px 20px 18px;
  font-size: 16px;
  line-height: 1.5px;
  cursor: pointer;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}
.header .header-nav-list .header-nav-item .nav-item-link:hover {
  color: #415ef3;
}
.header .header-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.header .header-about .header-about-container {
  margin-top: 100px;
}
.header .header-about .header-about-container .about-text {
  width: 75%;
  margin-right: auto;
  margin-left: 0;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
}
.header .header-about .header-about-container .about-text-header {
  width: 100%;
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  line-height: 1.25;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 52px;
}
.header .header-about .header-about-container .btn-group {
  padding: 15px;
  margin: 10px;
}
.header .header-about .header-about-container .btn-group .btn-left {
  margin-right: 10px;
  background-color: #415ef3;
  color: white;
}
.header .header-about .header-about-container .btn-group .btn-left:hover {
  background-color: #2e48ca;
  color: white;
}
.header .header-about img {
  width: 600px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
}

.about {
  background: #b3629e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b3629e), to(#415ef2));
  background: linear-gradient(0deg, #b3629e 0%, #415ef2 100%);
  font-family: Roboto, sans-serif;
  padding: 10px;
  color: white;
}
.about .sponsors {
  width: 100%;
  height: 10em;
}
.about .sponsors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
  padding: 20px;
}
.about .sponsors-item img {
  width: 100px;
}

.about-item {
  height: 41%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2em;
}
.about-item h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 1.15;
  font-weight: 700;
}
.about-item .about-img {
  height: 470px;
  width: 470px;
  padding: 1em;
}
.about-item .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 500px;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-item .about-heading {
  margin-bottom: 10px;
}
.about-item .more-btn {
  margin-top: 10px;
  cursor: pointer;
}

.advantage {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantage .advantage-img {
  width: 64px;
  height: 70px;
}
.advantage .advantage-text {
  width: 90%;
  margin-bottom: 10px;
}
.advantage h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
}

.advantage-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-item .about-text .about-heading p {
  width: 80%;
}